.hamburger {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger > div {
  margin-bottom: 4px;
  width: 78%;
  height: 10%;
  background: #000000;
}

.hamburger > div:last-child {
  margin-bottom: 0px;
}

.hamburger:not(.active) > div:nth-child(even) {
  display: none;
}

.hamburger.active > div:nth-child(odd) {
  display: none;
}