.stickyBox {
  display: inline-block;
  --x: 0px;
  --y: 0px;
  padding: 0px !important;
  margin: 0px !important;
  transform-origin: center;
}

.stickyBox:hover {
  cursor: pointer;
}

.moveBox {
  transform: translate(var(--x), var(--y));
  transition: transform 0.1s;
}

.positionBox {
  transform: translate(var(--x), var(--y));
  transition: all 0.1s cubic-bezier(0.42, 0, 0.41, 1.67);
}

.resetBox {
  transform: translate(0px, 0px);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.41, 1.67);
}

.rotateBox {
  animation: rotation 6s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}